<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sports Game </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="./css/style.css">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">


    <!-- Custom Code -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' 
          rel='stylesheet'>


    <!--myu style code-->
    <style>
        .container {
            max-width: 100vw;
        }
        body{
           background-image:linear-gradient(beige,bisque,beige) ;
        }

        .image-logo {
            width: 5vw
        }

        .register {
            font-size: 2rem;
            text-align: center;
        }

        .ground-highlight-images img {
            width: 30vw;
            min-height: 45vh;
        }

        .footer {
            margin-top: 6%;
        }

        .image-footer {
            width: 10vw;
        }

        @media (max-width:992px) {
            .image-logo {
                width: 9vw
            }
        }

        @media (max-width:458px) {
            .image-logo {
                width: 13vw
            }

            .ground-highlight-images img {
                width: 35vw !important;
                min-height: 27vh;
            }
        }
        
    </style>
</head>

<body>
    <div class="container w-100" style="background-color: #0f172b !important;">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Header Start -->
        <% if (user) { %>
            <%- include('navbarlogout.ejs') %>
          <% } else { %>
            <%- include('navbar.ejs') %>
          <% } %>
    <!-- Header End -->
 
    <section class="container-fluid px-5">
        <div class="container-fluid mt-5" >
            <div class="progress-container">
                <div class="progress-bar"></div>
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="booking-item" >
                        
                        <div class="container-head">
                           
                            <div class="head">
                                <!-- <h2>Koora Dome AI Wasl Club</h2>
                                    
                                <p style="font-weight: bold ;">AI Jaddaf-Oud Metha</p> -->
                               
                            </div>
                        </div>
                        <!-- <h3 style="border: 0.5px solid rgb(1, 1, 1); background-color: rgb(35, 245, 35); width: 100%; font-size: 14px; color: white; padding: 5px 2px; ">Earn 3 Karma points on every booking!</h3> -->

                        <form id="booking-form">


                            <div class="form-group">
                                <br>
                                <br>
                                <label for="exampleInputEmail1" style="color: #000000; font-size: x-large;">Date</label>
                                <input class="date form-control" id="date" type="text" autocomplete="one-time-code" autocomplete="off" required>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="timeslot" style="color: #000000; font-size: x-large;">Time Sloat</label>
                                <select id="timeslot" name="timeslot" class="form-control" required>
                                    <option value=" ">Please Select Date</option>
                                </select>
                            </div>
                            <button type="submit" id="new" class="btn btn-success" style="margin-top:5%;margin-bottom: 5%;">Add to Cart</button>
                        </form>
                    </div>
                </div>
                

                <!-- <script src="script.js"></script> -->

                <div class="col-lg-6">
                    <div id="cart" class="booking-item" style="background-color: aliceblue;">
                        <h2>Cart <i class="fas fa-shopping-cart" style="color: #000000;"></i></h2>
                        
                        <div id="cart-items">
                            <!-- Cart items will be displayed here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer Start -->
    <%- include('footer.ejs') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>



    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        $('.date').datepicker({
            format: 'mm/dd/yyyy',
            minDate: new Date(),
            onSelect: function(dateText) {
                var date = this.value;
                $(this).datepicker('hide');
                var timeslot = createTimeSlots(date);
                $("#timeslot option[value!='']").remove();
                // $("option[class='val']").remove();
                console.log(timeslot);
                timeslot.forEach(element => {
                    $('#timeslot').append(new Option(element.startTime + " - " + element.endTime + " Rs. " + element.price, element.startTime + "|" + element.endTime + "|" + element.price));
                });
            }
        })
        // .on('changeDate', function (e) {
        //     console.log("111");
        //     var date = e.format();
        //     $(this).datepicker('hide');
        //     var timeslot = createTimeSlots(date);
        //     $("#timeslot option[value!='']").remove();
        //     // $("option[class='val']").remove();
        //     console.log(timeslot);
        //     timeslot.forEach(element => {
        //         $('#timeslot').append(new Option(element.startTime + " - " + element.endTime + " Rs. " + element.price, element.startTime + "|" + element.endTime + "|" + element.price));
        //     });
        // });

        function createTimeSlots(date_val) {
            const date = new Date(date_val);
            // Get the current date
            var currentDate = new Date();

            // Check if the date is before October 1st
            if (date < new Date('2023-09-30')) {
                // Use the weekend time slots
                if (date.getDay() == 6 || date.getDay() == 0) {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '11:30', price: 8000 },
                        { startTime: '12:30', endTime: '05:00', price: 8000 }];
                    return timeSlots;
                } else {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '11:30', price: 4500 },
                        { startTime: '12:30', endTime: '05:00', price: 4500 }
                    ];
                    return timeSlots;
                }
            } else if (date < new Date('2023-11-30')) {
                //october to december 
                if (date.getDay() == 6 || date.getDay() == 0) {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '10:30', price: 6000 },
                        { startTime: '11:00', endTime: '02:30', price: 6000 },
                        { startTime: '03:00', endTime: '06:30', price: 8000 }];
                    return timeSlots;
                } else {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '10:30', price: 4500 },
                        { startTime: '11:00', endTime: '02:30', price: 4500 },
                        { startTime: '03:00', endTime: '06:30', price: 6000 }
                    ];
                    return timeSlots;
                }
            } else {
                //october to december 
                if (date.getDay() == 6 || date.getDay() == 0) {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '10:30', price: 6000 },
                        { startTime: '11:00', endTime: '02:30', price: 6000 },
                        { startTime: '03:00', endTime: '06:30', price: 10000 },
                        { startTime: '07:00', endTime: '10:00', price: 16000 }];
                    return timeSlots;
                } else {
                    var timeSlots = [
                        { startTime: '07:00', endTime: '10:30', price: 4500 },
                        { startTime: '11:00', endTime: '02:30', price: 4500 },
                        { startTime: '03:00', endTime: '06:30', price: 8000 },
                        { startTime: '07:00', endTime: '10:00', price: 12000 }
                    ];
                    return timeSlots;
                }
            }
        }

        var cartItems = []; // Store booking details in an array

        document.getElementById("booking-form").addEventListener("submit", function (event) {
            event.preventDefault();

            // Retrieve values from form
            var selectedItems = document.getElementById("timeslot").selectedOptions;
            var items = Array.from(selectedItems).map(option => option.value);

            var date = document.getElementById("date").value;

            // Create a new cart item object for each selected item
            for (var i = 0; i < items.length; i++) {
                var option_value = items[i].split("|");
                var newItem = {
                    start_time: option_value[0],
                    end_time: option_value[1],
                    price: option_value[2],
                    date: date
                };

                // Add the item to the cart
                cartItems.push(newItem);
            }

            updateCartDisplay();

            // Clear the form
            document.getElementById("booking-form").reset();
        });

        function updateCartDisplay() {
            var cartItemsDiv = document.getElementById("cart-items");
            cartItemsDiv.innerHTML = ""; // Clear previous items
        
            if (cartItems.length == 0) {
                cartItemsDiv.innerHTML = "Cart is empty.";
            } else {
                // Display each item in the cart
                for (var i = 0; i < cartItems.length; i++) {
                    var cartItem = cartItems[i];
                    var cartItemDiv = document.createElement("div");
                    cartItemDiv.innerHTML = `
                        <div class="cart-item">
                            <h3>Booking Details<button id=new onclick="removeItem(${i})">Remove</button></h3>
                            <p>Time : ${cartItem.start_time} to ${cartItem.end_time}</p>
                            <p>Price: ${cartItem.price}</p>
                            <p>Date: ${cartItem.date}</p>
                            <button id=new onclick="submitCartItem(${i})">Submit</button>
                        </div>
                    `;
                    cartItemsDiv.appendChild(cartItemDiv);
                }
            }
        }
        

        function removeItem(index) {
            // Remove the item from the cart
            cartItems.splice(index, 1);
            updateCartDisplay();
        }

// Initial cart display
// updateCartDisplay();

// submit cart item storage

function submitCartItem(index) {
    var itemToSubmit = cartItems[index];
    console.log("Submitting the following item to the console:");
    console.log(itemToSubmit);

    // You can optionally send this data to a server or perform other actions here

    // Optionally mark the item as submitted (you can add a property to the item)
    itemToSubmit.submitted = true;

    // Update the cart display to reflect the change (e.g., add a submitted flag)
    updateCartDisplay();
}

    </script>
    <script src="./script.js"></script>

    <script>
        
    </script>
</body>

</html>